<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    // each input will be associated with a specific product id
    function handleEnableDisable(itemId, size) {
        if (size) {
            var currentValue = parseInt($(`.size_${itemId}_${size}`).val());
        } else {
            var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        }

        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;

        // prop method sets the disabled attribute on each button to true or false
        // depending on whether the current value is less than 2 or greater than 98.

        if (size) {
            $(`.decrement-size_${itemId}_${size}`).prop('disabled', minusDisabled);
            $(`.increment-size_${itemId}_${size}`).prop('disabled', plusDisabled);
        } else {
            $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }
    }

    // disable the minus button by default. By getting all the quantity inputs on the page.
    // Iterating through them. And for each one calling the enable/disable function
    // as soon as the page loads.
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        var size = $(allQtyInputs[i]).data('size');
        handleEnableDisable(itemId, size);
    }

    // Handle enable/disable function won't be called
    // if the user uses the built-in up and down arrows in the number box to change the quantity.
    // To make that happen listen to the change event on the quantity input
    // and call the function every time the input changes.
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        handleEnableDisable(itemId, size);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var size = $(this).data('size');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        // Get the item id using the data method which pulls it from the data item id attribute we added on the button.
        // Then pass it into the handle enable/disable function.
        if (size) {
            var allQuantityInputs = $(`.input-group-${itemId} input[data-size='${size}']`);
        } else {
            var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue + 1);
        handleEnableDisable(itemId, size);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var size = $(this).data('size');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        // Get the item id using the data method which pulls it from the data item id attribute we added on the button.
        // Then pass it into the handle enable/disable function.
        if (size) {
            var allQuantityInputs = $(`.input-group-${itemId} input[data-size='${size}']`);
        } else {
            var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue - 1);
        handleEnableDisable(itemId, size);
    });
</script>